

.main-header {

    color: darkslategray;
    font-size: 44px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-shadow: indianred 2px;
}

body {

/*start background image*/    
    background-image: url(./pics/rec-backg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;   
/*end background image*/

}

.product-image {
   margin-left: auto;
   margin-right: auto;
   width: 50%;
   text-align: center;
   

   
   

}
.description {
    text-align: center;
    font-weight: normal;
    color: darkslategray;
    

}
.ingredients {
    text-align: center;
    font-style: italic;
    font-weight: bold;
    color: darkslategray;
}
.method {
    text-align: center;
    font-weight: normal;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(16, 20, 20);
}









