.main-header {
    color: rgb(60, 114, 7);
    font-size: 44px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/*end of header*/
body {
    background-image: url(./pics/rec-backg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
/*end background image*/


   

}
