.main-header {
    color: rgb(247, 242, 242); text-align: center;font-size: 44px;
background-image:url(./recipes/pics/header-background.jpg) ;}


 
    

}
html { 

    height: fit-content; 
}

 .list { 
    color: rgb(6, 37, 104);
    font-size: xx-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: .2s;
    text-align: center;
}
li:hover{
    transform: scale(1.5);
    color: blueviolet;
    text-decoration: blueviolet;
}
.href, a, a:visited {
    color: rgb(221, 138, 14);
    }
.recipe {
    width: 135px;
    padding: 15px;
    box-sizing: border-box;
    border: 1px rgb(68, 66, 66);
    background-color: rgba(109, 190, 109, 0.493) ;
    margin: auto;
    flex: content;
    transition: .2s;
    
    

}  
.recipe__photo {
    width: 100%;
    display: block;
    border-radius: 50%;
}  
.recipe__name {
    font-weight: bold;
    text-align: center;
    font-size: larger;
    padding: 0px;
    color: rgb(2, 2, 37);
}
.button {
    width: 100%;
    color: tomato;
    font-weight: bold;
    background-color: thistle;
    border: none;
    padding: 7px 12px;
    outline: none;
    border-radius: 2px;
    cursor: pointer;

}
.button:active {
    box-shadow: inset 8px rgb(223, 12, 12);
}
.recipe:hover {
    transform: scale(1.5);
    
}
.background_image{
    opacity: .5;
    width: 100%;
    display: block;
    position: absolute;
    z-index: -1;
}